.ControlApp {
  height: 100%;
  font-family: 'Segoe UI', 'Verdana', sans-serif;
}

.controlFlex {
  height: 100%;
}

.topWindow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 60%;
}

/* Mode boxes */
.topWindow > div {
  width: 30%;
  height: 90%;
}

.bottomWindow {
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  width: 100%;
}
.bottomLeft,
.bottomRight {
  width: 48%;
  height: 100%;
  background-color: var(--primary-normal);
  box-shadow: var(--shadow-secondary);
  overflow: auto;
  overflow-x: hidden;
}

.lockFlex {
  display: flex;
  flex-direction: row;
  width: 60%;
}

.forcesTitle {
  font-size: 15px;
  font-weight: bold;
  padding: 5px 0;
  text-align: center;
}
