.Lock {
  background-color: lightgray;
  margin: 5px;
  border-radius: 10px 10px 0px 0px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
}

.inputFlex {
  display: flex;
  flex-direction: row;
  padding: 0 5px;
}
.inputFlex > input {
  width: 100%;
}

.inputFlex > button {
  width: 30px;
  font-size: 20px;
  border: none;
  border: 0.5px solid gray;
  cursor: pointer;
  background-color: rgb(162, 217, 243);
}

.check {
  text-align: center;
  bottom: 0;
}
