.Lock {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 1.5px 0 black;
}

.inputFlex {
  display: flex;
  flex-direction: row;
  padding: 0 5px;
  margin: 5px 0;
}

.check {
  text-align: center;
  bottom: 0;
}

.Lock .switch-label {
  height: 30px;
}

.Lock .switch-button {
  height: 25px;
  width: 25px;
}
