.ManualMode {
  background-color: lightgray;
  position: relative;
}

.manualLockFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 92%;
}

.manualLockFlex > .Lock {
  height: 30%;
  width: 80%;
  margin-top: 25px;
}
