.Mode {
  max-width: 250px;
  background-color: var(--primary-normal);
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: var(--shadow-primary);
  opacity: 0.5;
  transition: all 0.2s;
}

/* Active effect */
.activeMode {
  opacity: 1;
  transform: scale(1.02);
  box-shadow: var(--shadow-big);
}

.modeInputFlex {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  margin-top: 4px;
  color: black;
}

.modeInputRow {
  display: flex;
}

.modeInputRow .ModeInput:first-child {
  margin-right: 15px;
}

.checkSwitch {
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.DPCurrentBtn {
  height: 30px;
  margin-top: 25px;
  border: none;
  background-color: var(--primary-light);
  cursor: pointer;
  transition: 0.1s all;
  border: 0.5px solid black;
  outline: none;
  border-radius: var(--small-radius);
}

.DPCurrentBtn > span {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}

.DPCurrentBtn:hover {
  background-color: white;
}

.DPCurrentBtn:active {
  box-shadow: var(--button-active-shadow);
  background-color: var(--primary-normal);
}

.DPWarning {
  display: none;
  color: var(--negative-normal);
  font-size: 12px;
  font-weight: 600;
}

.DPWarningShow {
  display: block !important;
}
