.ModeInput {
  width: 100%;
}

.ModeInput h3 {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  margin-top: 5px;
}

.inputs {
  display: flex;
}

.inputs input {
  width: 70%;
  height: 25px;
  font-size: 15px;
  padding-left: 10px;
  border: 0.5px solid black;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.inputs button {
  color: var(--primary-dark);
  width: 30%;
  font-size: 15px;
  border: none;
  border: 0.5px solid black;
  cursor: pointer;
  background-color: var(--primary-light);
  border-radius: 0 5px 5px 0;
  outline: none;
  height: 28px;
  font-weight: bold;
}
.inputs button:hover {
  color: black;
}
.inputs button:active {
  box-shadow: 0 0 1px 1px gray;
}
