.Mode {
  max-width: 250px;
  background-color: var(--primary-normal);
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: var(--shadow-primary);
}

.modeInputFlex {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.checkSwitch {
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
}
