.Mode {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0 2px 1px darkgray;
}

.modeInputFlex {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.checkSwitch {
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
}
