.NetfollowingLock {
  background-color: lightgray;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.inputFlexNF {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

h3 {
  font-size: medium;
  margin: 0px;
}

.firstRow {
  display: flex;
  flex-direction: row;
}

.secondRow {
  display: flex;
  flex-direction: row;
}

input {
  width: 95%;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  border: 0.5px solid gray;
  border-radius: 5px 0 0 5px;
  outline: none;
}

button {
  width: 30%;
  font-size: 30px;
  border: none;
  border: 0.5px solid gray;
  cursor: pointer;
  background-color: darkgray;
  border-radius: 0 5px 5px 0;
  outline: none;
}
button:hover {
  background-color: lightgray;
}
button:active {
  box-shadow: 0 0 1px 1px gray;
}

.checkSwitch {
  text-align: center;
  bottom: 0;
}
