.ROVSettings_root {
  background-color: var(--primary-normal);
}

.settingsField > h4 {
  font-size: normal;
  margin-bottom: 0;
  margin-top: 0;
  float: left;
  margin-right: 5px;
}

.SettingsFields {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 6px;
  margin-bottom: 33px;
}

.settingsField {
  padding: 10px;
  margin-bottom: 25px;
  display: inline-block;
  margin: 0;
  padding: 0 5px;
  text-align: left;
  border: solid 0.5px;
  margin: 2px;
  flex-grow: 1;
  background-color: white;
  border-radius: var(--small-radius);
  display: flex;
}

@media screen and (max-width: 800px) {
  .settingsField * {
    font-size: 12px;
  }
}
