.ROVSettings_root {
  background-color: var(--primary-normal);
}

h4 {
  font-size: normal;
  margin-bottom: 2px;
}

.SettingsFields {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.SettingsFields > div {
  padding: 10px;
  margin-bottom: 25px;
}
