.SettingsApp {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Segoe UI';
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-user-select: none;
  -webkit-app-region: drag;
  border-radius: 5px;
}

.SettingsApp * {
  border-radius: 2px; /* Change to variable */
  font-family: 'Segoe UI';
  color: black;
  outline: none;
}

.SettingsApp > h2 {
  margin: 15px 0;
  font-weight: 500;
}

.SettingsApp .settingGroup {
  width: 90%;
}

.SettingsApp input,
.MessageProtocolDropdown {
  width: 100%;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  border: 0.5px solid black;
  padding-left: 5px;
  height: 35px;
  -webkit-app-region: no-drag;
}

.MessageProtocolMenu {
  display: flex;
  flex-direction: column;
}

.updateSettingsBtn {
  width: 90%;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: var(--primary-normal);
  transition: all 0.1s;
  margin: 10px 0;
  font-weight: 500;
  font-size: 15px;
  outline: none;
  -webkit-app-region: no-drag;
}

.updateSettingsBtn:hover,
.twoInputs button:hover {
  background-color: var(--primary-light);
  color: black;
}

.updateSettingsBtn:active {
  background-color: var(--primary-normal);
}

.twoInputs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.twoInputs button {
  border: none;
  margin: 0;
  width: 40px;
  height: 35px;
  padding: 0;
  background: url('../img/folder.png');
  background-color: var(--primary-normal);
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
  margin-left: 5px;
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.useManual {
  margin-left: 5px !important;
}

.closeSettings {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 1px;
  right: 2px;
  background-color: transparent;
  border: none;
  background: url('../img/exit.png');
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  cursor: pointer;
  -webkit-app-region: no-drag;
  outline: none;
  opacity: 0.7;
}

.closeSettings:hover {
  opacity: 1;
}

.inputContainer {
  width: 100%;
  position: relative;
}

.inputStatus {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: transparent;
}

.changedInput ~ .inputStatus {
  background-color: var(--primary-normal);
}

.updatedInput ~ .inputStatus {
  background-color: var(--positive-dark);
}

.SettingsApp input[type='checkbox'] {
  width: 38px !important;
  height: 38px !important;
  margin: 0;
}

#mapRotation {
  height: 35px !important;
  width: 35px !important;
}
