.switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
  display: none;
}

.switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  height: 35px;
  background: var(--primary-dark);
  position: relative;
  transition: background-color 0.2s;
}

.switch-label .switch-button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 31px;
  height: 31px;
  border-radius: 5px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switch-checkbox:checked + .switch-label .switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
  background-color: white;
}

.switch-label:hover .switch-button {
  width: 40px;
}

.currentValue {
  position: relative;
  left: 10px;
  color: white;
}

.activated-switch {
  background-color: var(--positive-normal);
}
