.Title {
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  background-color: var(--primary-dark);
  text-align: center;
  border-radius: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.smallTitle {
  font-weight: normal;
}
