.valuesFlex {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  padding: 8px;
}

.Values {
  text-align: center;
  width: 100%;
  height: 100%;
}

.valuesPosition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: black;
}
