.mockupBox {
  font-family: 'Segoe UI';
}

.startServer {
  background-color: #89ccff;
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: x-large;
  padding: 15px;
}

.fromROV {
  display: flex;
  flex-direction: row;
}

.fromROV > div {
  background-color: lightsteelblue;
  margin: 2px;
}

.estimatedStateSettings {
  width: 70%;
}

.settings {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.stateSlot > input {
  width: 45px;
  flex: 50%;
  margin: 5px;
  border-radius: 0%;
}
.stateSlot > h3 {
  text-align: center;
}

input[type='entityStateInputflags'] {
  width: 150px;
  flex: 50%;
  margin: 5px;
  border-radius: 0%;
}

input[type='entityStateInputdescription'] {
  width: 150px;
  flex: 50%;
  margin: 5px;
  border-radius: 0%;
}
