body {
  margin: 0;
  overflow: hidden;
}
html,
body,
#root,
#root > div {
  height: 100%;
}

/* Global css-variables - can and should be used when coloring/shadowing anything */
:root {
  --primary-dark: #007ac1;
  --primary-normal: #03a9f4;
  --primary-light: #67daff;

  --secondary-dark: #b0003a;
  --secondary-normal: #e91e63;
  --secondary-light: #ff6090;

  --positive-normal: #219166;
  --positive-dark: #087f23;
  --positive-light: #14d596;

  --negative-normal: #f62d1d;
  --negative-dark: #8e0000;
  --negative-light: #ff5f52;

  --shadow-primary: 0 0 2px 1px black;
  --shadow-secondary: 0 0 1.5px 0.5px black;
  --shadow-big: 0 0 4px 1px black;

  /*
  --primary-dark: #007ac1;
  --primary-normal: #03a9f4;
  --primary-light: #67daff;

  --secondary-dark: #b0003a;
  --secondary-normal: #e91e63;
  --secondary-light: #ff6090;

  --positive-normal: #4caf50;
  --positive-dark: #087f23;
  --positive-light: #80e27e;

  --negative-normal: #c62828;
  --negative-dark: #8e0000;
  --negative-light: #ff5f52;

  --shadow-primary: 0 0 2px 1px black;
  --shadow-secondary: 0 0 1.5px 0.5px black;

  */
  --big-radius: 5px;
  --small-radius: 2px;
}
