.MenuButton {
  z-index: 2;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 40px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  outline: none;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.MenuButton:hover {
  background-color: rgb(58, 58, 58);
}

.transparentBtn {
  left: 10px;
  background-size: 15px;
}

.closeBtn {
  right: 10px;
}

.maximizeBtn {
  right: 50px;
}

.minimizeBtn {
  right: 90px;
}
