.MiniMapWidget {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 100px;
    right: 270px;
}

.zoom {
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.zoom > button {
    background: transparent;
    color: white;
    border: 0.5px solid white;
    cursor: pointer;
    font-size: 20px;
}