.ModeWidget {
  position: fixed;
  color: white;

  width: 170px;

  left: -9999px;
  right: -9999px;
  margin: auto;
  bottom: 20px;

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
}

.ModeWidget canvas {
  position: relative;
  right: 35px;
}

.ModeWidget p {
  display: inline-block;
}

.ModeWidget img {
  opacity: 1;
  width: 25px;
}

.NFAvailability {
  font-size: 14px;
  text-align: center;
}

.NFAvailability img {
  position: relative;
}

.NFAvailable {
  opacity: 0.7;
}

.NFUnavailable {
  opacity: 0.4;
}

/*.speedArrowClockwise {
  animation: rotationCW 2s infinite linear;
  transform: scaleX(-1);
}

.speedArrowCounterClockwise {
  animation: rotationCCW 2s infinite linear;
}*/

@keyframes rotationCW {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotationCCW {
  from {
    transform: rotate(359deg) scaleX(-1);
  }
  to {
    transform: rotate(0deg) scaleX(-1);
  }
}
