canvas {
  position: fixed;
}

img {
  position: fixed;
  opacity: 0.5;
}

#canvasBias {
  right: 50px;
  bottom: 50px;
}

#canvasHeading {
  left: 0;
  right: 0;
  margin: auto;
}

#canvasDepth {
  top: 75px;
  left: 10px;
}
