.VideoApp {
  background-color: black !important;
  height: 100%;
}

.transparentVideoApp {
  height: 100%;
  border: solid 0.3px white;
}

.videoMenu {
  height: 24px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-user-select: none;
  -webkit-app-region: drag;
  position: relative;
}
