/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  z-index: 1;
  display: inline-block;
  top: -3px;
}

/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 10px;
  font-size: 10px;
  border: none;
  background-color: transparent;
  background-image: url('../images/camera.png');
  background-repeat: no-repeat;
  background-size: 20px;
  transition: all 0.2s;
  outline: none;
}

/* Dropdown Content (Hidden by Default) */
#video-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
#video-dropdown-content button {
  color: black;
  background-color: rgb(241, 236, 210);
  padding: 12px 8px;
  text-decoration: none;
  display: block;
  width: 200px;
  border: solid black;
  border-width: 1px 0 0 0;
  cursor: pointer;
  text-align: left;
  outline: none;
  line-height: 20px;
}

/* Change color of dropdown links on hover */
#video-dropdown-content button:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover #video-dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: white;
  width: 200px;
}

.selectedFeed::after {
  content: '\2713';
  float: right;
  font-weight: bold;
  font-size: 20px;
}
